# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore data files
*.csv
*.xls
*.xlsx

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.VENV/

# Ignore Jupyter Notebook hidden directories
*.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and databases
*.log
*.sqlite
*.db

# Ignore package management files
pip-log.txt
pip-delete-this-directory.txt

# Ignore IDE and editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Ignore files related to the operating system
*.swp
*~

# Ignore files in the build directory
build/
dist/
*.egg-info/
